---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import HeroSection from "../components/HeroSection.astro";
import SteamStatusBadge from "../components/SteamStatusBadge.astro";
import TrailerSection from "../components/TrailerSection.astro";
import FeaturesSection from "../components/FeaturesSection.astro";
import GameplayGrid from "../components/GameplayGrid.astro";
import RoninQuote from "../components/RoninQuote.astro";
import FinalCTA from "../components/FinalCTA.astro";
import Footer from "../components/Footer.astro";
import { SlashDivider } from "../components/react/SlashDivider";
---

<BaseLayout>
  <Navbar />
  <main>
    <div class="relative">
      <HeroSection />
      <SteamStatusBadge />
    </div>
    <TrailerSection />
    <SlashDivider client:visible />
    <FeaturesSection />
    <SlashDivider client:visible />
    <GameplayGrid />
    <SlashDivider client:visible />
    <RoninQuote />
    <FinalCTA />
  </main>
  <Footer />
</BaseLayout>
