---
import { AnimatedSectionHeader } from "./react/AnimatedSectionHeader";
import { FeatureGrid } from "./react/FeatureGrid";
import { ShurikenParticles } from "./react/particles/ShurikenParticles";
---

<section id="features" class="relative py-20">
  <ShurikenParticles client:visible />

  <div class="w-container-page mx-auto relative z-10">
    <AnimatedSectionHeader
      eyebrow="Features"
      title="Domine cada run."
      client:visible
    />
    <FeatureGrid client:visible />
  </div>
</section>
