---
import { AnimatedSectionHeader } from "./react/AnimatedSectionHeader";
import { FeatureGrid } from "./react/FeatureGrid";
---

<section id="features" class="bg-[#070b07] py-24">
  <div class="w-[min(1160px,calc(100%-40px))] mx-auto">
    <AnimatedSectionHeader
      eyebrow="Features"
      title="Domine cada run."
      client:visible
    />
    <FeatureGrid client:visible />
  </div>
</section>
