---
import { AnimatedSectionHeader } from "./react/AnimatedSectionHeader";
import { GameplayGridClient } from "./react/GameplayGridClient";
---

<section id="gameplay" class="bg-black pt-24">
  <div class="w-[min(1160px,calc(100%-40px))] mx-auto">
    <AnimatedSectionHeader
      eyebrow="Veja a Ação"
      title="Corte. Avance. Repita."
      align="center"
      client:visible
    />
    <GameplayGridClient client:visible />
  </div>
</section>
