---
import { AnimatedSectionHeader } from "./react/AnimatedSectionHeader";
import { BambooDecor } from "./react/BambooDecor";
import { GameplayGridClient } from "./react/GameplayGridClient";
---

<section id="gameplay" class="relative py-24">
  <div
    class="absolute inset-0 bg-[linear-gradient(180deg,rgba(107,143,94,0.04)_0%,transparent_40%)] pointer-events-none"
    aria-hidden="true"
  >
  </div>
  <!-- Scanline central -->
  <div
    class="absolute top-1/2 left-0 right-0 h-px bg-bamboo/8 pointer-events-none"
    aria-hidden="true"
  />
  <BambooDecor
    side="right"
    opacity={0.11}
    className="hidden min-[1400px]:block absolute right-4 top-1/2 -translate-y-1/2 pointer-events-none"
    client:visible
  />
  <div class="w-container-page mx-auto relative z-10">
    <AnimatedSectionHeader
      eyebrow="Veja a Ação"
      title="Corte. Avance. Repita."
      align="center"
      client:visible
    />
    <GameplayGridClient client:visible />
  </div>
</section>
