---
import { STEAM_APP_ID } from "../consts";
---

<div
  class="absolute -bottom-5 left-0 right-0 z-20 translate-y-1/2 max-w-4xl mx-auto mobile:static mobile:translate-y-0 mobile:mt-4 mobile:px-4"
>
  <iframe
    src={`https://store.steampowered.com/widget/${STEAM_APP_ID}/`}
    class="w-full"
    height="190"
    loading="lazy"
    title="Byrd Ronin no Steam"></iframe>
</div>
